:root {
    --color-red: rgb(208, 2, 27);
    --color-offwhite: rgb(245, 245, 245);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-translucent-white: rgba(255, 255, 255, .1);
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--color-red);
}

/* OOCSS */
.element-wh {
    height: 100%;
    width: 100%;
}

.r-corners {
    border-radius: 8px;
}

/* BUTTONS */
.btn-primary {
    background: var(--color-white);
    border-radius: 20px;
    border: var(--color-red) solid 2px;
    font-size: .8em;
    font-weight: 600;
    padding: 20px 40px;
}

.btn-primary:hover {
    background: var(--color-red);
    color: var(--color-white);
    cursor: pointer;
    transition: .5s ease;
}

.btn-secondary {
    background: var(--color-red);
    border-radius: 20px;
    border: var(--color-red) solid 2px;
    color: var(--color-white);
    font-size: .8em;
    font-weight: 600;
    margin: 0 16px;
    padding: 20px 40px;
}

.btn-secondary:hover {
    background: var(--color-white);
    border: var(--color-white) solid 2px;
    color: var(--color-black);
    cursor: pointer;
    transition: .5s ease;
}

/* TOP OF DOCUMENT */
.header__area {
    /* height to maintain DOM during navBar anime */
    height: 100px;
}

.header__container {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 30px 40px;
}

.header__container.active {
    animation: navDropDown .5s ease;
    background: var(--color-translucent-white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@keyframes navDropDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

.header__logo {
    /* img dimensions within innerHTML */
    cursor: pointer;
    user-select: none;
}

.header__content-right {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.nav__btn {
    background: var(--color-offwhite);
    border-radius: 50%;
    border: none;
    height: 60px;
    user-select: none;
    width: 60px;
}

/* HERO SECTION */
.hero__container {
    background-size:cover;
    background: url(/joshua-commanding-the-sun-to-stand-still-upon-gibeon_by-john-martin_1816.jpeg) no-repeat center;
    display: flex;
    height: 86vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero__container-after {
    background: rgba(234, 240, 240, 0.6);
    box-shadow: inset 120px 120px 300px rgba(0, 0, 0, .8), inset -120px -120px 300px rgba(0, 0, 0, .8);
    left: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
}

.hero__container--grid {
    color: var(--color-white);
    display: grid;
    grid-template-rows: 30% 60px 60px 1fr;
    margin: 16px;
    min-height: 500px;
    text-align: end;
}

.hero__h1 {
    align-items: flex-end;
    color: var(--color-offwhite);
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.hero__icons {
    background: var(--color-white);
    border-radius: 40px;
    color: black;
    display: flex;
    display: inline;
    justify-content: end;
    margin: 5px 0;
}

.icon-js {
    animation: zoomX 3s forwards;
    transform: translateX(200vh);
}

.icon-html {
    animation: zoomM 1.5s forwards, zoomHop 1.7s;
    animation-delay: .75s;
    transform: translateX(200vh);
}

.icon-css {
    animation: zoomL 1.5s forwards, zoomHop 1.7s;
    animation-delay: .9s;
    transform: translateX(200vh);
}

.icon-git {
    animation: zoomXL 1.5s forwards, zoomHop 1.7s;
    animation-delay: .9s;
    transform: translateX(200vh);
}

@keyframes zoomX {
    0% { transform: translateX(2000%); }
    50% {transform: rotateZ(-45deg);}
    100% { transform: translateX(0) rotateZ(0);}
}

@keyframes zoomM {
    50% { transform: translateX(-180%);}
    100% { transform: translateX(0);}
}

@keyframes zoomL {
    50% { transform: translateX(-360%);}
    100% { transform: translateX(0);}
}

@keyframes zoomXL {
    50% { transform: translateX(-450%);}
    100% { transform: translateX(0);}
}

@keyframes zoomHop {
    70% { transform: translateY(-20px);}
    80% { transform: translateY(0);}
}

.hero__button {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: 0 40px;
}

/* CALL TO ACTION SECTION */
.cta__container {
    background: radial-gradient(
        circle,
        var(--color-white) 0%,
        var(--color-white) 50%,
        var(--color-offwhite) 100% );
    padding: 32px;
}

.cta__grid {
    background: url(/golden-gate-by-amelia-cui_1920x1224.jpg) no-repeat center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: inset 500px 500px 300px rgba(255, 255, 255, .7), inset -500px -500px 300px rgba(255, 255, 255, .7);
    display: grid;
    grid-template-areas: 'cards text';
    grid-template-columns: repeat(2, 1fr);
}

.cta__narrative-scene {
    display: flex;
    flex-direction: column;
    grid-area: text;
    justify-content: center;
    padding: 0 16px;
    text-align: center;
}

.cta__narrative-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding-bottom: 16px;
    text-transform: uppercase;
}

.cta__narrative-body {
    font-size: .9em;
    line-height: 24px;
}

.cta__narrative-body-quote {
    font-style: italic;
    padding-top: 5px;
}

.cta__narrative-button {
    display: flex;
    justify-content: center;
    margin: 32px;
}

.cta__card-scene {
    display: grid;
    gap: 1px;
    grid-area: cards;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 80px 16px;
    perspective: 700px;
}

.cta__card {
    padding-bottom: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    user-select: none;
}

.cta__card.is-flipped { transform: rotateY(-180deg); }


.cta__card-face {
    backface-visibility: hidden;
    position: absolute;
}

.cta__face-front {
    background: var(--color-offwhite);
    border: 1px solid var(--color-black);
    opacity: .5;
}

.cta__face-front.is-spinning {
    animation-delay: 1s;
    animation: rotateZ 2s ease;
}
@keyframes rotateZ {
    from { transform: rotateZ(0); }
    to { transform: rotateZ(180deg); }
}

/* TOP ROW */
.cta__face-back-c1r1 { transform: rotateY( 180deg ); }
.cta__face-back-c2r1 { transform: rotateY( 180deg ); }
.cta__face-back-c3r1 { transform: rotateY( 180deg ); }
.cta__face-back-c4r1 { transform: rotateY( 180deg ); }
/* MID ROW */
.cta__face-back-c1r2 { transform: rotateY( 180deg ); }
.cta__face-back-c2r2 { transform: rotateY( 180deg ); }
.cta__face-back-c3r2 { transform: rotateY( 180deg ); }
.cta__face-back-c4r2 { transform: rotateY( 180deg ); }
/* BOT ROW */
.cta__face-back-c1r3 { transform: rotateY( 180deg ); }
.cta__face-back-c2r3 { transform: rotateY( 180deg ); }
.cta__face-back-c3r3 { transform: rotateY( 180deg ); }
.cta__face-back-c4r3 { transform: rotateY( 180deg ); }