:root {
    --color-red: rgb(208, 2, 27);
    --color-offwhite: rgb(245, 245, 245);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-translucent-white: rgba(255, 255, 255, .1);
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    scrollbar-color: auto var(--color-translucent-white);
}

button:hover {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--color-red);
}

/* OOCSS */
.transformY180 {
    transform: rotateY( 180deg );
}

.element-wh {
    height: 100%;
    width: 100%;
}

.r-corners--sm {
    border-radius: 8px;
}

.r-corners--m {
    border-radius: 20px;
}

.btn-primary {
    background: var(--color-white);
    border: var(--color-red) solid 2px;
    font-size: .8em;
    font-weight: 600;
    padding: 20px 40px;
}

.btn-primary:hover {
    background: var(--color-red);
    color: var(--color-white);
    cursor: pointer;
    transition: .5s ease;
}

.btn-secondary {
    background: var(--color-red);
    border: var(--color-red) solid 2px;
    color: var(--color-white);
    font-size: .8em;
    font-weight: 600;
    margin: 16px;
    padding: 20px 40px;
}

.btn-secondary:hover {
    background: var(--color-white);
    border: var(--color-white) solid 2px;
    color: var(--color-black);
    cursor: pointer;
    transition: .5s ease;
}

/* NAV */
.header__frame {
    /* height to maintain DOM during navBar anime */
    height: 100px;
}

.header__content-container {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 30px 40px;
}

.header__content-container.active {
    animation: navDropDown .5s ease;
    background: var(--color-translucent-white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

@keyframes navDropDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

.header__helloevan-logo {
    /* img dimensions within innerHTML */
    cursor: pointer;
    user-select: none;
}

.header__menu-content {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-offwhite);
    border-radius: 50%;
    border: none;
    height: 54px;
    user-select: none;
    width: 54px;
    transition: transform .5s ease;
    z-index: 3;
}

.menu-btn:hover {
    cursor: pointer;
}

/* POPOUT MENU */
body.no-scroll {
    position: absolute;
    overflow: hidden;
}

.menu {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 1s ease;
    transform: translateY(-100%);
    z-index: 2;
}

.menu.expand {
    display: block;
    transform: translateY(0);
}

.menu-items {
    display: none;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 200px;
}

.menu-items.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items li {
    padding: 20px 0 10px 40px;
}

.menu-items li:hover {
    transition: all 1s ease;
    transform: translateX(40px) scale(1.2);
}








/* HERO CODE WALL */
.code__container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.code__review {
    position: absolute;
    width: 100%;
    height: 100%;
}

#code {
    width: 100%;
}

.code__block {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.block { 
    height: 100%;
    width: 100%;
    background: rgba(234, 244, 178, 1);
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;
}

.block.bye {
    animation: bye .5s linear forwards;
}

@keyframes bye {
    to { filter: opacity(0); }
}

#code__block-btn {
    grid-column: 4 / 8;
    grid-row: 9 / 13;
    z-index: 1;
}

.code-btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 244, 178, 1);
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid black;
}

.code-btn.bye {
    animation: bye 1s linear forwards;
}




/* HERO */
.hero__container {
    background: url(/img/hero/joshua-commanding-the-sun-to-stand-still-upon-gibeon_by-john-martin_1816.jpeg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
}

.hero__container-overlay {
    background: url(/img/hero/dev-banner.svg) no-repeat center;
    background-size: contain;
    box-shadow: inset 120px 120px 300px rgba(234, 244, 178, 1), inset -120px -120px 300px rgba(0, 0, 0, .8);
    mix-blend-mode: overlay;
    left: 0;
    top: 0;
    position: absolute;
}

.hero__grid-frame {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    min-height: calc(100vh - 120px);
    margin: 10px;
    z-index: 1;
}

.hero__grid-frame h1 {
    display: none;
}

.hero__title {
    user-select: none;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background: url(/img/hero/frontend-mobile-banner.svg) no-repeat;
    background-size: contain;
    margin: 0 2%;
}

.hero__mission {
    user-select: none;
    display: flex;
    align-items: flex-end;
    color: var(--color-white);
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: right;
    font-style: italic;
    padding: 20px;
    text-shadow: 0 0 10px black;
}

.hero__skill-icons {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.js--icon {
    height: 48px;
    width: 48px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url(/img/hero/javascript.svg);
    opacity: 1;
}

.html--icon {
    height: 48px;
    width: 48px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: url(/img/hero/html5.svg);
    opacity: 1;
}

.css--icon {
    height: 48px;
    width: 48px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: url(/img/hero/css3.svg);
    opacity: 1;
}

.git--icon {
    height: 48px;
    width: 48px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: url(/img/hero/git.svg);
    opacity: 1;
}

.python--icon {
    height: 48px;
    width: 48px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: url(/img/hero/python.svg);
    opacity: 1;
}

@media screen and (min-width: 1000px) {
    .hero__container-overlay {
        background-size: cover;
    }

    .hero__grid-frame {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .hero__title {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background: url(/img/hero/frontend-horizontal-banner.svg) no-repeat center;
        background-size: contain;
        margin: 50px 0;
        opacity: .8;
    }

    .hero__mission {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        font-size: 1.2em;
        margin: 0 20px;
    }

    .hero__skill-icons {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        justify-content: center;
    }
    
    .js--icon {
        height: 60px;
        width: 60px;
    }
    
    .html--icon {
        height: 60px;
        width: 60px;
    }
    
    .css--icon {
        height: 60px;
        width: 60px;
    }
    
    .git--icon {
        height: 60px;
        width: 60px;
    }

    .python--icon {
        height: 60px;
        width: 60px;
    }
}

/* CTA ARTICLES */
.helloevan-frame {
    max-width: 1380px;
}



/* TOP IMAGE */
.showcase__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    margin: 80px 0;
}

.showcase__container-items {
    /* display: grid;
    grid-template-columns: minmax(200px, 800px);
    grid-template-rows: minmax(200px, 500px); */
    background: rgb(234, 244, 178);
    border: 1px solid var(--color-black);
    border-radius: 16px;
}

.showcase__scene {
    perspective: 300px;
    user-select: none;
}

.showcase__scene-code {
    position: relative;
    top: -32px;
    left: -8px;
    width: 100%;
    transform: rotateY(10deg);
    border: 1px solid var(--color-black);
    border-radius: 1em;
    box-shadow: -15px 30px 20px rgba(25, 24, 24, 0.7);
}

.showcase__scene-ui {
    position: fixed;
    top: 16px;
    left: 32px;
    width: 100%;
    transform: rotateY(10deg);
    border: 1px solid var(--color-black);
    border-radius: 1em;
    box-shadow: -30px 5px 40px -20px rgb(0, 0, 0);
}

/* TOP IMAGE END */



.homepage__cta-container {
    margin: 150px 20px;
    display: flex;
    justify-content: center;
}

.cta__content-row {
    display: flex;
    justify-content: center;
}

.cta__content-wrap {
    max-width: 400px;
    margin: 40px 0;
}

.intro-title {
    font-size: 1.8em;
    opacity: .6;
}

.intro-body {
    font-size: 1.2em;
    line-height: 20px;
    margin: 10px 0 25px;
    opacity: .4;
}

.cta__content-index-frame {
    overflow: hidden;
}

.content-index {
    font-size: 6em;
    font-weight: 700;
    letter-spacing: -10px;
    color: rgb(139, 139, 139);
    opacity: .2;
    transition: transform 1.5s ease;
    transform: translateY(120px);
}

.cta__intro-title-frame,
.cta__content-title-frame {
    overflow: hidden;
}

.content-title {
    font-size: 1.2em;
    opacity: .6;
    transition: transform 1.5s ease;
    transform: translateY(200px);
}

.content-title h2 {
    font-weight: 100;
}

.cta__intro-body-frame,
.cta__content-body-frame {
    overflow: hidden;
}

.content-body {
    font-size: 1.2em;
    line-height: 20px;
    transition: transform 1.5s ease;
    transform: translateY(-500px);
    margin: 10px 0 25px;
    opacity: .4;
}

.slide-effect {
    transform: translateY(0);
}

.content-anchor-wrap {
    border-bottom: 1px solid var(--color-red);
    padding: 0 0 10px 0;
    width: 200px;
    transition: all 1s ease;
}

.content-anchor-wrap:hover {
    width: 160px;
}

.content-anchor {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.content-image {
    margin: 60px 0 0 0;
    opacity: .8;
    overflow: hidden;
    border-radius: 40px;
}

.content-image img {
    border-radius: 40px;
    transition: transform 1s ease;
}

.content-image img:hover {
    transform: scale(1.2);
}












/* CODE */
.code__container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.code__review {
    position: absolute;
    width: 100%;
    height: 100%;
}

#code {
    width: 100%;
}

.code__block {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 1px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.block { 
    height: 100%;
    width: 100%;
    background: rgba(234, 244, 178, 1);
    border: 1px solid rgb(0, 0, 0);
    opacity: 1;
}

.block.bye {
    animation: bye .5s linear forwards;
}

@keyframes bye {
    to { filter: opacity(0); }
}

#code__block-btn {
    grid-column: 4 / 8;
    grid-row: 9 / 13;
    z-index: 1;
}

.code-btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 244, 178, 1);
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid black;
}

.code-btn.bye {
    animation: bye 1s linear forwards;
}


















/* CALL TO CONNECT */
.connect__container {
    background: radial-gradient(circle,
        var(--color-white) 0%,
        var(--color-white) 50%,
        var(--color-offwhite) 100% );
    padding: 32px;
    /* display: flex;
    justify-content: center; */
}

.connect__grid {
    background: url(/img/cta/golden-gate-by-amelia-cui_1920x1224.jpg) no-repeat center;
    background-size: cover;
    box-shadow: inset 500px 500px 300px rgba(255, 255, 255, .7), inset -500px -500px 300px rgba(255, 255, 255, .7);
    /* display: grid;
    grid-template-areas: 'cards text';
    grid-template-columns: repeat(2, 1fr); */
    /* max-width: 1440px; */
    padding: 50% 0;
}

.connect__narrative-scene {
    /* display: flex;
    flex-direction: column; */
    /* grid-area: text; */
    /* justify-content: center; */
    /* padding: 0 16px; */
    text-align: center;
}

.connect__narrative {
    filter: opacity(0);
}

.connect__narrative.active { animation: setScene 1.5s ease forwards; }

@keyframes setScene {
    from { filter: blur(50px) opacity(0); }
    to { filter: blur(0) opacity(1); }
}

.connect__narrative-title {
    font-size: 3em;
    opacity: .6;
    text-transform: uppercase;
}

.connect__narrative-body {
    margin: 15px 5px 25px;
    opacity: .4;
}

.connect__narrative-body-quote {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    padding: 20px;
}

.connect__narrative-button {
    /* display: flex;
    justify-content: center; */
    margin: 16px;
}

.connect__card-scene {
    display: none;
    /* display: grid; */
    gap: 2px;
    grid-area: cards;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 350px;
    margin: 80px auto;
    padding-left: 16px;
}

.connect__card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    user-select: none;
}

.connect__card.is-flipped { transform: rotateY(-180deg); }


.connect__card-face {
    backface-visibility: hidden;
    position: absolute;
}

.connect__face-front {
    background: var(--color-offwhite);
    border: 1px solid var(--color-black);
    opacity: .5;
}

.connect__face-front.is-spinning {
    animation: rotateZ 2s ease;
    animation-delay: 1s;
}
@keyframes rotateZ {
    from { transform: rotateZ(0); }
    to { transform: rotateZ(180deg); }
}

/* PICTURE GRID */
/* TOP ROW */
.connect__face-back-c1r1 {
    background: url(/img/cta/c1-r1_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c2r1 {
    background: url(/img/cta/c2-r1_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c3r1 {
    background: url(/img/cta/c3-r1_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c4r1 {
    background: url(/img/cta/c4-r1_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}

/* MID ROW */
.connect__face-back-c1r2 {
    background: url(/img/cta/c1-r2_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c2r2 {
    background: url(/img/cta/c2-r2_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c3r2 {
    background: url(/img/cta/c3-r2_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c4r2 {
    background: url(/img/cta/c4-r2_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}

/* BOT ROW */
.connect__face-back-c1r3 {
    background: url(/img/cta/c1-r3_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c2r3 {
    background: url(/img/cta/c2-r3_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c3r3 {
    background: url(/img/cta/c3-r3_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.connect__face-back-c4r3 {
    background: url(/img/cta/c4-r3_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
/* 
@media screen and (max-width: 400px) {
    .connect__narrative-scene {
        padding: 0;
    }
    
    .connect__narrative-body-quote {
        padding-top: 10px;
    }
    
    .connect__narrative-button {
        display: flex;
        justify-content: center;
    }

    .btn-primary {
        font-size: .6em;
        padding: 15px 40px;
    }
} */


/* @media screen and (max-width: 720px) {
    .connect__grid {
        display: grid;
        grid-template-areas: 'text';
        grid-template-columns: 1fr;
    }
    
    .connect__card-scene {
        display: none;
    }
    
    .connect__narrative-scene {
        margin: 10%;
    }
}

@media screen and (max-width: 920px) {
    .connect__narrative-title {
        font-size: 1.5em;
        padding-bottom: 8px;
    }
    
    .connect__narrative-body {
        font-size: .9em;
        line-height: 16px;
    }
    
    .connect__narrative-button {
        font-size: 1em;
    }

    .connect__card-scene {
        width: 350px;
        height: 225px;
    }
} */