:root {
    --color-red: rgb(208, 2, 27);
    --color-offwhite: rgb(245, 245, 245);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-translucent-white: rgba(255, 255, 255, .1);
}

* {
    box-sizing: border-box;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    scrollbar-color: auto var(--color-translucent-white)
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--color-red);
}

/* OOCSS */
.transformY180 {
    transform: rotateY( 180deg );
}

.element-wh {
    height: 100%;
    width: 100%;
}

.r-corners--sm {
    border-radius: 8px;
}

.r-corners--m {
    border-radius: 20px;
}

.btn-primary {
    background: var(--color-white);
    border: var(--color-red) solid 2px;
    font-size: .8em;
    font-weight: 600;
    padding: 20px 40px;
}

.btn-primary:hover {
    background: var(--color-red);
    color: var(--color-white);
    cursor: pointer;
    transition: .5s ease;
}

.btn-secondary {
    background: var(--color-red);
    border: var(--color-red) solid 2px;
    color: var(--color-white);
    font-size: .8em;
    font-weight: 600;
    margin: 16px;
    padding: 20px 40px;
}

.btn-secondary:hover {
    background: var(--color-white);
    border: var(--color-white) solid 2px;
    color: var(--color-black);
    cursor: pointer;
    transition: .5s ease;
}

/* NAV */
.header__frame {
    /* height to maintain DOM during navBar anime */
    height: 100px;
}

.header__content-container {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 30px 40px;
}

.header__content-container.active {
    animation: navDropDown .5s ease;
    background: var(--color-translucent-white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

@keyframes navDropDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

.header__helloevan-logo {
    /* img dimensions within innerHTML */
    cursor: pointer;
    user-select: none;
}

.header__header__menu-content {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-offwhite);
    border-radius: 50%;
    border: none;
    height: 54px;
    user-select: none;
    width: 54px;
    transition: transform .5s ease;
}

.menu-btn:hover {
    cursor: pointer;
}

/* HERO */
.hero__container {
    background: url(/img/hero/joshua-commanding-the-sun-to-stand-still-upon-gibeon_by-john-martin_1816.jpeg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
}

.hero__container-overlay {
    background: url(/img/hero/dev-banner.svg) no-repeat center;
    background-size: cover;
    box-shadow: inset 120px 120px 300px rgba(0, 0, 0, .8), inset -120px -120px 300px rgba(0, 0, 0, .8);
    mix-blend-mode: overlay;
    left: 0;
    top: 0;
    position: absolute;
}

.hero__container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    min-height: calc(100vh - 120px);
    margin: 10px;
    z-index: 1;
}

.hero__container-grid h1 {
    display: none;
}

.hero__title {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background: url(/img/hero/frontend-banner.svg) no-repeat;
    background-size: contain;
    margin: 0 2%;
}

.js--icon {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: url(/img/hero/javascript.svg) no-repeat bottom;
    opacity: .6;
}

.html--icon {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background: url(/img/hero/html5.svg) no-repeat bottom;
    opacity: .6;
}

.css--icon {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: url(/img/hero/css3.svg) no-repeat top;
    opacity: .6;
}

.git--icon {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background: url(/img/hero/git.svg) no-repeat top;
    opacity: .8;
}

.hero__mission {
    display: flex;
    align-items: flex-end;
    color: var(--color-white);
    grid-column: 2 / 4;
    grid-row: 3 / 3;
    font-size: 1em;
    text-align: right;
    padding: 10px;
}

.hero__mission p {
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(7, 81, 33, 0.3);
}

@media screen and (min-width: 660px) {
    .hero__container-grid {
        grid-template-columns: 1fr repeat(2, 150px) 1fr;
        grid-template-rows: 200px 200px repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .hero__container-grid {
        grid-template-columns: 1fr repeat(2, 225px) 1fr;
        grid-template-rows: 300px 300px repeat(2, 1fr);
    }

    .hero__mission {
        font-size: 1.2em;
    }
}

/* CALL TO ACTION */
.cta__container {
    background: radial-gradient(
        circle,
        var(--color-white) 0%,
        var(--color-white) 50%,
        var(--color-offwhite) 100% );
    padding: 32px;
    display: flex;
    justify-content: center;
}

.cta__grid {
    background: url(/img/cta/golden-gate-by-amelia-cui_1920x1224.jpg) no-repeat center;
    background-size: cover;
    box-shadow: inset 500px 500px 300px rgba(255, 255, 255, .7), inset -500px -500px 300px rgba(255, 255, 255, .7);
    display: grid;
    grid-template-areas: 'cards text';
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
}

.cta__narrative-scene {
    display: flex;
    flex-direction: column;
    grid-area: text;
    justify-content: center;
    padding: 0 16px;
    text-align: center;
}

.cta__narrative {
    filter: opacity(0);
}

.cta__narrative.active { animation: setScene 1.5s ease forwards; }

@keyframes setScene {
    from { filter: blur(50px) opacity(0); }
    to { filter: blur(0) opacity(1); }
}

.cta__narrative-title {
    font-size: 2em;
    padding-bottom: 16px;
    text-transform: uppercase;
}

.cta__narrative-body {
    font-size: 1em;
    line-height: 24px;
}

.cta__narrative-body-quote {
    font-style: italic;
    padding-top: 5px;
}

.cta__narrative-button {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    margin: 32px;
}

.cta__card-scene {
    display: grid;
    gap: 2px;
    grid-area: cards;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 350px;
    margin: 80px auto;
    padding-left: 16px;
}

.cta__card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    user-select: none;
}

.cta__card.is-flipped { transform: rotateY(-180deg); }


.cta__card-face {
    backface-visibility: hidden;
    position: absolute;
}

.cta__face-front {
    background: var(--color-offwhite);
    border: 1px solid var(--color-black);
    opacity: .5;
}

.cta__face-front.is-spinning {
    animation: rotateZ 2s ease;
    animation-delay: 1s;
}
@keyframes rotateZ {
    from { transform: rotateZ(0); }
    to { transform: rotateZ(180deg); }
}

/* PICTURE GRID */
/* TOP ROW */
.cta__face-back-c1r1 {
    background: url(/img/cta/c1-r1_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c2r1 {
    background: url(/img/cta/c2-r1_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c3r1 {
    background: url(/img/cta/c3-r1_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c4r1 {
    background: url(/img/cta/c4-r1_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}

/* MID ROW */
.cta__face-back-c1r2 {
    background: url(/img/cta/c1-r2_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c2r2 {
    background: url(/img/cta/c2-r2_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c3r2 {
    background: url(/img/cta/c3-r2_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c4r2 {
    background: url(/img/cta/c4-r2_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}

/* BOT ROW */
.cta__face-back-c1r3 {
    background: url(/img/cta/c1-r3_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c2r3 {
    background: url(/img/cta/c2-r3_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c3r3 {
    background: url(/img/cta/c3-r3_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}
.cta__face-back-c4r3 {
    background: url(/img/cta/c4-r3_maroon-bells-hiking-split.png) no-repeat;
    background-size: cover;
}

@media screen and (max-width: 400px) {
    .cta__narrative-scene {
        padding: 0;
    }
    
    .cta__narrative-body-quote {
        padding-top: 10px;
    }
    
    .cta__narrative-button {
        display: flex;
        font-size: 3em;
        justify-content: center;
    }

    .btn-primary {
        font-size: 1em;
        padding: 10px 40px;
    }
    
    .btn-secondary {
        font-size: 1em;
        padding: 10px 40px;
    }
}


@media screen and (max-width: 720px) {
    .cta__grid {
        display: grid;
        grid-template-areas: 'text';
        grid-template-columns: 1fr;
    }
    
    .cta__card-scene {
        display: none;
    }
    
    .cta__narrative-scene {
        margin: 10%;
    }
}

@media screen and (max-width: 920px) {
    .cta__narrative-title {
        font-size: 1.5em;
        padding-bottom: 8px;
    }
    
    .cta__narrative-body {
        font-size: .9em;
        line-height: 16px;
    }
    
    .cta__narrative-button {
        font-size: 1em;
    }

    .cta__card-scene {
        width: 350px;
        height: 225px;
    }
}