@import "./normalize.css";

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.8rem;
}

/* HEADER */
.header--page {
  background-color: lightgreen;
  position: relative;
  min-width: 100vh;
  min-height: 100vh;
}

.position--portrait {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position--git,
.position--linkedin {
  display: inline-flex;
  justify-content: center;
}

/* IMAGES */
.img--self-portrait {
  background-image: url(../images/mainportrait.jpg);
  background-size: cover;
  width: 40rem;
  height: 40rem;
  border-radius: 100%;
}

/* NAVIGATION MENU */
.nav--menu-title {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.nav--list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

.nav--menu-category {
  padding: 0 4rem;
}

/* GRIDS */

.grid--header-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: auto;
  gap: 10px;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: minmax(100px, auto);
}

.grid--nav-1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--img-portrait {
  grid-column: 4 / 8;
  grid-row: 2/ 6;
  background-color: yellow;
}

.grid--icon-git {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-color: tomato;
}

.grid--icon-linkedin {
  grid-column: 3 / 5;
  grid-row: 4 / 6;
  background-color: lightblue;
}

.four {
  grid-column: 6 / 8;
  grid-row: 5 / 7;
  background-color: pink;
}
.five {
  grid-column: 8 / 10;
  grid-row: 3 / 5;
  background-color: lime;
}
