@import "./normalize.css";

:root {
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.8rem;
}

h1 {
  margin: 6rem 22rem;
  font-size: 7rem;
}

/* PAGE HEADER */
.header--page {
  background-color: lightgreen;
  position: relative;
  top: 0;
  bottom: 0;
  height: 80rem;
}

/* NAVIGATION MENU */
.nav--list {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

.nav--title {
  margin-left: 5rem;
}

.nav--category {
  padding: 0 4rem;
}

/* MAIN */
.main--list-icons {
  list-style: none;
  display: flex;
  justify-content: left;
  margin-top: 5rem;
  margin-right: 5rem;
}

.main--image {
  display: flex;
  justify-content: right;
  margin-right: 15rem;
}

.main--image-portrait {
  background-image: url(../images/mainportrait.jpg);
  background-size: cover;
  width: 40rem;
  height: 40rem;
  border-radius: 100%;
}

.main--icon-GitHub,
.main--icon-Linkedin {
  padding: 0 10rem;
}

/* GRIDS */
.wrapper {
  display: grid;
}

.grid--1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title-cell {
  background-color: lime;
  margin: 1rem 3rem;
}

.icon-cell {
  background-color: yellow;
  margin: 1rem 3rem;
}
