@import "./normalize.css";

:root {
  --header--background-color: rgb(76, 121, 136);
  --color-white: #fff;
  --color-lightgreen: #90ee90;
  --color-lightblue: #add8e6;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.8rem;
  background-color: lightgrey;
  letter-spacing: .3rem;
}

h1 {
  margin-bottom: 3rem;
}

/* PLAYGROUND */
hr {
  margin: 0 8rem;
}

.resume--page {
  background-color: var(--color-white);
  margin: 0 4rem;
  min-height: 100rem
}

.resume--head {
  margin: 0 4rem;
}

.resume--head {
  display: flex;
}

.resume--head-name {
  font-size: 5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 0;
  margin-left: 4rem;
}

.resume--head-contact {
  text-transform: uppercase;
  font-size: 2.2rem;
  margin: 0 3rem;
  padding-top: 5rem;
  padding-left: 5rem;
}

/* font-family: 'Crushed', cursive; */

/* NAVIGATION BAR */
.navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.navi--logo .material-icons {
  font-size: 4rem;
  padding: 0.5rem 0.5rem;
}

.navi.collapsible--expanded .navi--dropdown-mobile-icon {
  border-radius: 5px;
  box-shadow: 0 0 0 3px rgb(93, 250, 21);
  opacity: 1;
}

.navi--dropdown-mobile-icon {
  border-radius: 5px;
  cursor: pointer;
  height: 6rem;
  margin: 0.5rem 1rem;
  opacity: 0.7;
  transition: box-shadow 0.25s;
  width: 6rem;
}

.navi a {
  color: var(--color-white);
  padding: 0.7rem 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.navi a:hover {
  color: magenta;
}

.navi--list {
  list-style: none;
  margin: 0;
  padding: 0 2rem;
  width: 100%;
}

.navi--icon {
  color: var(--color-white);
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
}

.navi--category {
  border-bottom: 1px solid #222;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  padding-top: 1.2rem;
}

/* NON-MOBILE */
@media screen and (min-width: 768px) {
  .collapsible__content {
    opacity: 1;
    overflow: visible;
  }

  .navi--dropdown-mobile-icon {
    display: none;
  }

  .navi--list {
    display: flex;
    width: auto;
  }

  .navi--category {
    border: 0;
    font-size: 1.8rem;
    padding: 1.5rem 0;
    padding-left: 1rem;
  }

  .material-icons {
    font-size: 1.8rem;
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .navi--logo .material-icons {
    font-size: 2rem;
    padding: 0.5rem 4rem;
  }

  .navi--category {
    font-size: 1.2rem;
    padding-right: 3rem;
    padding-top: 1.2rem;
  }

  .material-icons {
    font-size: 1.2rem;
  }
}