@import "./normalize.css";

/* PLAYGROUND */
:root {
  --header--background-color: rgba(76, 121, 136, 0.8);
  --color-white: #fff;
  --color-lightgreen: #90ee90;
  --color-lightblue: #b8e0ee;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Josefin Sans",
    sans-serif, "Noto Serif Display", serif;
  font-size: 1.8rem;
}
