@import "./normalize.css";

/* PLAYGROUND */
:root {
  --header--background-color: rgba(76, 121, 136, 0.8);
  --color-white: #fff;
  --color-lightgreen: #90ee90;
  --color-lightblue: #b8e0ee;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Josefin Sans",
    sans-serif, "Noto Serif Display", serif;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 1rem;
}

label {
  display: block;
}

input[type="text"],
input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #7db0fb;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
}

button {
  background: #0d6efd;
  color: #fff;
  border: 0;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  outline: 0;
}

.form--group {
  margin-bottom: 1rem;
}

.form--input-field {
  width: 50%;
}
