@import "./normalize.css";

:root {
  --color-lightgrey: #b3b3b3;
}

/* Typography */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.25;
  color: var(--color-lightgrey);
  font-size: 2rem;
}

h1,
h2 {
  margin-bottom: 0;
  color: black;
}

h1 {
  font-size: 7rem;
  display: inline;
  justify-content: center;
  align-items: center;
}

.h1--firstWord {
  padding-right: 1.5rem;
  letter-spacing: 8px;
  text-align: end;
}

.h1--secondWord {
  padding-left: 0;
  text-align: start;
  font-weight: 300;
}

h2 {
  font-size: 3rem;
  margin-top: 0.5rem;
}

h3 {
  color: rgb(48, 48, 48);
  font-style: italic;
  text-align: right;
  padding-right: 15rem;
}

p {
  margin: 0 27rem;
  margin-bottom: 3rem;
}

/* .child for secondary paragraph */

.child:nth-child(2),
.experience--date {
  text-align: right;
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    margin-left: 3rem;
  }

  p {
    margin: 0 7rem;
    margin-bottom: 3rem;
  }
}

/* Lists */

.list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
}

.list--display {
  padding: 1rem;
}

.listBullets {
  list-style: circle;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .list--display {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 423px) {
  p {
    margin: 1rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

a:link {
  color: #bfbfbf;
}

a:visited {
  color: darkgoldenrod;
}

a:hover {
  color: darkmagenta;
  transition: color 0.5s;
  font-weight: bold;
  border-bottom: 1px solid;
}

/* Grids */

.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 0 1rem;
}

.wrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b b";
}

.gridBullets,
.gridText {
  grid-area: b;
  margin-right: 3rem;
}

/* Padding between div/hr bar */

.bottomPadding {
  padding-bottom: 2rem;
}

/* Misc */

hr {
  display: block;
  margin: 1rem;
}

.main {
  display: inline;
}

.title {
  text-align: center;
  margin-left: 15rem;
}
